* {
    box-sizing: border-box;
}

.jumbotron {
background: #2db9a7;
}

#event-form {
    align-content: center;
    justify-content: right;
    border: solid 2px#2db9a7;
    border-radius: 5px;
    /*margin-left: 100px;
    margin-right: 100px;*/
}

.card-body {
    /*align-content: center;
    justify-content: center;*/
    border-color: darkred;
}

.card {
    align-content: center;
    justify-content: right;
}

#input{
    align-content: center;
    justify-content: center;
}

#submit {
background-color: #2db9a7;
}

/*nav {
    background-color: #2db9a7;  
    border: solid 1 px  #2db9a7;

}*/

tr {
    border-color: darkorange;
}